.pch
.mdp
.ncb
.clw
.obj
.exe
.aps
.cpl
.awk
.exp
.lib
.idb
.opt
.pdb
.map
.res
.ilk
.scc
.bsc
.sbr
.dll
.tlb
cmake-build-debug/
compiling_error.txt
CMakeLists.txt
.idea
/Default/
/Debug/
Composer.pro
